.body-cetak {
    padding: 10px;
}
.header {
    border-bottom: 1px solid rgb(126, 126, 126);
}
h1 {
    text-align: center;
}
.si-detail {
    margin: 50px 0;
}
.si-item {
    margin: 15px 0;
}
.item-1 {
    width: 300px;
}
.item-2 {
    width: 50;
}
.detail {
    margin-top: 10px;
}
/* .img {
    background-image: url("/logo.png");
    background-size: 50px;
} */
